*{
  margin: 0;
  padding: 0;
}

.products {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  
}

.product-item {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid burlywood;
}

.product-item h3 {
  color: blue;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
}

.product-item p {
  color: grey;
  font-size: 36px;
  font-weight: 900;
  line-height: 56px;

}

.btn-cart, .buy-btn {
  width: 360px;
  height: 48px;
  border-radius: 30px;
  background-color: #008dcd;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border: none;
}

.buy-btn {
  background-color: chocolate;
}

.btn-cart:hover{
  background-color: cornflowerblue;
  color:black;
}

.buy-btn:hover{
  background-color: cadetblue;
  color:black;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 150px;
}